*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_us  h1{
    background-color: #E85A45;
    padding: 5rem;
    font-size: 5rem;
    text-align: center;
    color: antiquewhite;
    font-weight: 500;
}


