* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.carousel_container {
  width: 80%;
  margin: auto;
  position: relative;
  border: solid rebeccapurple; 
  display: flex;
  justify-content: space-between;
  
}
.image {
  width: 100%; 
  border: solid;
  object-fit: cover;
  object-position: center;
  display: none;
}
#previous,
#next {
  background-color: rebeccapurple;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}



#previous{
    left: -20px;
}



#next{
    right: -20px;
}
