*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    
}



.carousel_container{
    width: 80%;
    margin: auto;
    position: relative;
    
    
}

.image{
    width: 100%;
    height: auto;
    /* height: 25rem; */
    border:solid;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    display: none;
    position: absolute;
}

.allimagedisplaynone{
    display: none;
}




#previous{
    
    background-color: rebeccapurple;
    padding: 1rem;
    cursor: pointer;
   margin: 20px;
    top: 30px;
}

#next{
    background-color: red;
    padding: 1rem;
    cursor: pointer;
}

.buttons_wrapper{
    position: absolute; 
}